.env
.env.local
*.pyc
__pycache__/
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

node_modules/
dist/
DummyFrontend/
.vite/
.next/

.idea/
.vscode/
*.swp
.DS_Store

postgres-data/
minio-data/
redis-data/
traefik-data/

*.log
